<h1>Categories#index</h1>
<p>Find me in app/views/categories/index.html.erb</p>
<h1><%= link_to "New category", categories_new_path %></h1>
<% @categories.each do |category| %>
<h1><%= link_to category.name, category  %></h1>
<% end %>



